body {
    font-family: Arial, sans-serif;
    /* background-color: #f5f5f5; */
    background-image: url('Images/made-clear-concrete-library-features-lightcolored-log-bookshelves-stepped-seating.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #fff;
}

form {
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    text-transform: capitalize;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input {
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    font-size: 1rem;
}

input::placeholder {
    color: rgb(226, 226, 226);
    font-size: 0.95rem;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize
}

#output {
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

@media only screen and (300px <= width <= 750px) {
    h1 {
        font-size: 3rem;
        text-align: center;
    }
}